.doda{
    width: 1000px;
    display: flex;
    flex-direction: column;
}
.left{
    display: flex;
    justify-content: space-between;
    width: 402px;
    align-items: center;
    margin-left: 50px;
    gap: 30px;
    text-decoration: none;   
}
.qora{
    background-color: rgb(72, 67, 67);
    width: 156px;
    border-radius: 8px;
    height: 41px
}
.right{
    display: flex;
    margin-left: 850px;
}
header{
    width: 1440px;
    height: 89px;
    display: flex;
    border: 0px 0px 1px 0px;
}
.chiziq{
    text-decoration: none;
    color: black;
}
.seri{
    color: gray;
    margin-bottom: 40px;
    text-align: start;
    width: 85%;
}
.learn{
    width: 169px;
    height: 59px;
    border-radius: 6px;
    background-color: #1AAB7B;;
    border: #1AAB7B solid;
}
.bir{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.ikki{
    width: 50%;
}
.h1{
    width: 40%;
    margin-bottom: 20px;
}
.kotta{
    display: flex;
    margin-top: 50px;
    width: 1500px;
}
.bolim{
    width: 384px;
    padding: 20px;
    height: 358px;
    border-radius: 6px;
}
.dumaloq{
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -50px;
    width: 64px;
    height: 64px;background-color:white;
    margin-left: 300px;
}
.rasm{
    margin-left: 95px;
}
.bi{
    background-color: #1AAB7B;
    display: flex;
    flex-direction: column;

}
.iki{
    border: solid 2px #E1E7ED;
    display: flex;
      flex-direction: column;
}
.uch{
    border: solid 2px #E1E7ED;
    display: flex;
    flex-direction: column;
}
.tort{
    border: solid 2px #E1E7ED;
    display: flex;
    flex-direction: column;
}
.besh{
    border: solid 2px #E1E7ED;
    display: flex;
    flex-direction: column;
}
.sur{
    margin-left: 250px;
}
.radius{
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: -40px;
    width: 64px;
    margin-left: 300px;
    height: 64px;background-color:#E1E7ED;
}
.viev1{
    margin-top: 45px; 
}
.viev2{
    margin-top: 30px;  
}
.viev3{
    margin-top: 70px;
}
.viev4{
    margin-top: 50px; 
}
.none{
    text-decoration: none;
    list-style: none;
    color: black;
}
.viev{
    color: white;
    margin-top: 100px
}
.oq{
    color: white;
}
.how{
    display: flex;
    flex-wrap: wrap;
    width: 1440;
    gap: 35px;
    margin-left: 80px;
    margin-top: 50px;
}
.center{
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.orta{
    height: 200px;
    width: 1440px;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.otta{
    text-align: center;
    width: 650px;
    color: #636F87;   
}
.uchinchi{
    margin-top: 50px;
    height: 390px;
    width: 1440px;
    display: flex;
    margin-left: 150px;
}
.pas{
    display: flex;
    flex-direction: row;
    width: 400px;
    margin-top: 160px;
    align-items: center; 
}
.internet{
    width: 50px;
    height: 50px;
}
.kegn{
    margin-left: 32px;
}
.bara{
    margin-top: 20px;
    color: #636F87;
}
.kichik{
    margin-top: 50px;
    margin-left: 50px;
    width: 1440px;
    display: flex;
}
.Amet{
    color: #636F87;
    margin-top: 20px;
}
.ONE{
    margin-left: 30px;
}
.TWO{
    margin-left: 200px;
}
.ODAM{
    display: flex;
    width: 400px;
    margin-top: 135px;
    align-items: center;
}
.kan{
    width: 50px;
    height: 50px;
}
.gray{
    color: #636F87;
    text-align: center;
    width: 650px;
    margin-top: 16px;
}
.oxirgi{
    justify-content: center;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 200px;
}
.ich{
    width: 565px;
    height: 434px;
    position: absolute;
    top: 3330px;
    margin-left: 480px;
    opacity: 0.7; 
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(12, 12, 11);
}
.centerli{
    width: 384px;
    height: 500px;
}
.send{
    border: #1AAB7B solid;
    border-radius: 6px;
    background: #1AAB7B;
    width: 180px;
    margin-top: 35px;
    height: 59px;
    padding: 20px 40px;
    align-items: center;
    justify-content: center;
    .animated-button{
    width: 500px;
    height: 1000px;
    background-color: blue;
    color: white;
    font-size: 18px;
    border: none;
    animation-name:send ;  
    animation-duration: 10s;
    animation-delay: infinite;  
    animation-iteration-count: infinite; 
    animation-duration: reverse;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
@keyframes .send {
    10s{
        transform: translateX(0); scale: (1), rotate(0)  skew(0); 
        background-color: rgb(0, 17, 255);
    }
    12%{
        transform: translateX(142); scale: (1), rotate(0)  skew(0); 
        background-color: green;
    }
    25%{
        transform: translateX(285px); scale: (1.2), rotate(180deg)  skew(10deg,-5deg); 
         background-color: yellow;}
    37%{
         transform: translateX(427); scale: (1), rotate(0)  skew(0); 
         background-color: pink;
    }
    50%{
        transform: translateX(569px); scale: (5), rotate(180deg)  skew(10deg,-5deg); 
        background-color: red;
    }
    62%{
        transform: translateX(711); scale: (1), rotate(0)  skew(0); 
        background-color: tan;
    }
    75%{
        transform: translateX(853px); scale: (1.2), rotate(180deg)  skew(10deg,-5deg); 
        background-color: black;}
    87%{
         transform: translateX(1000px); scale: (1.2), rotate(180deg)  skew(10deg,-5deg); 
      background-color: hotpink;}
        

    100%{
        transform: translateX(1142); scale: (1), rotate(0)  skew(0); 
        background-color: green;
    }
}
.nma{
    position: static;
    width: auto;
    height: 1000px
    px;
    border: solid 3px black;
}
}
.we{
    color: #636F87;
}
*hr{
    color: #636F87;
}
.black{
    color: white;
}
.hr{
    width: 100%;
    height: 2px  ;
    background-color: #636F87;
}
.rasmli{
    margin-left: 250px;
}
.brother{
    width: 1500px;
    height: 650px;
    margin-top: 50px;
    display: flex;
    background-color: black;
    flex-direction: row;
}
.what{
    color: #636F87;
    margin-top: 20px;
}
.whar{
    color: white;
}
.odin{
    flex-direction: column;
    display: flex;
    height: 500px;
    width: 200px;
    margin-left: 112px;
    margin-top: 100px;
    position: absolute;
}
.dva{
    width: 150px;
    height: 350px;
    flex-direction: column;
    display: flex;
    position: absolute;
    margin-top: 100px;
    margin-left: 424px;
}
.tri{
    flex-direction: column;
    display: flex;
    height: 450px;
    width: 400px;
    margin-left: 1048px;
    margin-top: 100px;
    position: absolute;
}
footer{
    display: flex;
    width: 1500px;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
}
.vector{
    width: 81px;
    height: 29px;
    margin-right: 30px;
    position: absolute;
    margin-left: 20px;
    margin-bottom: -10px;
}
.f1{
    width: 50%;
    background-color: black;
    height: 60px;
}
.f2{
    width: 50%;
    display: flex;
    height: 60px;
    background-color: black;
}
.yil{
    color: rgb(255, 245, 245);
    margin-left: 400px;
    position: absolute;
   top: 4470px;
}